@font-face {
    font-family: 'holberton_school-icon';
    src:  url('fonts/holberton_school-icon.eot?sq4eq4');
    src:  url('fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
      url('fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
      url('fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
      url('fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="holberton_school-icon-"], [class*=" holberton_school-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'holberton_school-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .holberton_school-icon-arrow_1:before {
    content: "\e900";
  }
  .holberton_school-icon-arrow_2:before {
    content: "\e901";
  }
  .holberton_school-icon-arrow_3:before {
    content: "\e902";
  }
  .holberton_school-icon-arrow_4:before {
    content: "\e903";
  }
  .holberton_school-icon-arrow_5:before {
    content: "\e904";
  }
  .holberton_school-icon-check:before {
    content: "\e905";
  }
  .holberton_school-icon-ic_bag:before {
    content: "\e906";
  }
  .holberton_school-icon-ic_cart:before {
    content: "\e907";
  }
  .holberton_school-icon-ic_facebook:before {
    content: "\e908";
  }
  .holberton_school-icon-ic_hearing:before {
    content: "\e909";
  }
  .holberton_school-icon-ic_instagram:before {
    content: "\e90a";
  }
  .holberton_school-icon-ic_laptop:before {
    content: "\e90b";
  }
  .holberton_school-icon-ic_money:before {
    content: "\e90c";
  }
  .holberton_school-icon-ic_music:before {
    content: "\e90d";
  }
  .holberton_school-icon-ic_sound:before {
    content: "\e90e";
  }
  .holberton_school-icon-ic_twitter:before {
    content: "\e90f";
  }
  .holberton_school-icon-ic_video:before {
    content: "\e910";
  }
  .holberton_school-icon-menu:before {
    content: "\e911";
  }
  .holberton_school-icon-search_1:before {
    content: "\e912";
  }
  .holberton_school-icon-search_2:before {
    content: "\e913";
  }
  .holberton_school-icon-star:before {
    content: "\e914";
  }
  


@font-face {
  font-family: "sourceSansPro";
  src: url(./fonts/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: "spincycle";
  src: url(./fonts/spincycle_ot-webfont.woff);
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: url(./images/headphones_hero_1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.logo a {
  font-family: "spincycle";
  text-decoration: none;
  color: #fff;
}

.logo img {
  width: 30px;
  height: 30px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header-content {
  /* background-color: red; */
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li {
  padding: 0 10px;
  font-family: "sourceSansPro";
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
}
.menu ul li:hover a {
  background-color: #ff6565;
  padding: 10px;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.close-btn,
.menu-btn,
input[type="checkbox"] {
  display: none;
}

.main-part {
  text-align: center;
  margin: 0 auto;
  margin-top: 40vh;
  font-family: "sourceSansPro";
  color: #fff;
  max-width: 700px;
}

.main-part h1 {
  font-size: 32px;
  font-weight: bold;
}

.main-part span {
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.main-part p {
  font-size: 16px;
}

.main-part button {
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #ff6565;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border: none;
}

button:hover,
button:active {
  opacity: 0.9;
}

/* Responsiveness */

@media (max-width: 500px) {
  .menu ul {
    display: none;
  }

  .menu-btn {

    display: block;
    /* margin-right: 100px; */
  }
  

  nav {
    /* background-color: red; */
  }
  .header-content{
    display: block;
  }

  .menu{
    /* background-color: blue; */
    text-align: center;
  }
  .menu ul li {
   margin: 10px;

  }
  .menu ul li a{
    padding:5px ;
  }

  input[type="checkbox"]:checked ~ .header-content .menu {
    display: block;
  }
  input[type="checkbox"]:checked ~ .header-content .menu ul {
    display: block;
  }

  input[type="checkbox"]:checked ~ .header-content .logo .menu-btn{
    display: none;
  }
  input[type="checkbox"]:checked ~ .header-content .logo .close-btn{
    display: block;
  }
}


/* what we do */

.part2{
    min-height: 80vh;
    /* background-color: red; */
    text-align: center;
    padding-top: 100px;
    font-family:'sourceSansPro';
}

.what-we-do{
    /* background-color: blue; */
    max-width: 30vw;
    margin: 0 auto;
   
}

.part2-icons{
    display: flex;
    margin-top: 100px;
    /* border: 2px solid black; */
    padding: 40px;
}

.icon-card{
    display: flex;
    flex-direction: column;
    /* margin-top: 100px; */ 
    gap: 10px;
}

.icon span{
color: #ff6565;
font-size: 80px;
}
