@font-face {
  font-family: "sourceSansPro";
  src: url(./fonts/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: "spincycle";
  src: url(./fonts/spincycle_ot-webfont.woff);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: url(./images/headphones_hero_1.jpg);
  min-height: 100vh;
}

.logo a {
  font-family: "spincycle";
  text-decoration: none;
  color: #fff;
}

.logo img {
  width: 30px;
  height: 30px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header-content {
  /* background-color: red; */
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li {
  padding: 0 10px;
  font-family: "sourceSansPro";
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
}
.menu ul li:hover a {
  background-color: #ff6565;
  padding: 10px;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.close-btn,
.menu-btn,
input[type="checkbox"] {
  display: none;
}

.main-part {
  text-align: center;
  margin: 0 auto;
  margin-top: 40vh;
  font-family: "sourceSansPro";
  color: #fff;
  max-width: 700px;
}

.main-part h1 {
  font-size: 32px;
  font-weight: bold;
}

.main-part span {
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.main-part p {
  font-size: 16px;
}

.main-part button {
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #ff6565;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border: none;
}

button:hover, button:active{
    opacity: .9;
}
